.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    color: #F2F2F2;
    justify-content: center;
}

.chatRoot {
    flex: 1;
    display: flex;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-inline: 20px;
    gap: 20px;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chatEmptyStateTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    line-height: 24px;
    margin-top: 36px;
    margin-bottom: 0px;
}

.chatEmptyStateSubtitle {
    margin-top: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    color: white;
}

.logoContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
}

.logoText {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    color: white;
}

.logoTextHighlight {
    color: #B955E3;
}

.chatMessageStream {
    flex-grow: 1;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.chatMessageUser {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.chatMessageUserMessage {
    padding: 10px;
    background: #1A191F;
    border-radius: 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #C792FF;;
    flex: none;
    order: 0;
    flex-grow: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 800px;
}

.chatMessageGpt {
    margin-bottom: 12px;
    max-width: 80%;
    display: flex;
}

.chatMessageError {
    padding: 20px;
    /* background: #EDF5FD; */
    border-radius: 8px;
    box-shadow: rgba(182, 52, 67, 1) 1px 1px 2px, rgba(182, 52, 67, 1) 0px 0px 1px;
    
    color: #242424;
    flex: none;
    order: 0;
    flex-grow: 0;
    
    max-width: 800px;
    /* filter: drop-shadow(rgba(182, 52, 67, 1) 1px 1px 2px) drop-shadow(rgba(182, 52, 67, 1) 0px 0px 1px); */
}

.chatMessageErrorContent {
    font-family: "Segoe UI";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    white-space: pre-wrap;
    word-wrap: break-word;
    gap: 12px;
    align-items: center;
}

.chatInput {
    position: sticky;
    padding-top: 12px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - 100px);
    max-width: 1028px;
    margin-top: 8px;
}

.clearChatBroom {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 12px;
    top: 66px;
    color: white;
    border: 1px solid #D1D1D1;
    border-radius: 20px;
    background-color: #BDBDBD;
    z-index: 1;
    cursor: pointer;
}

.stopGeneratingContainer {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    gap: 8px;
    height: 32px;
    left: 50%;
    top: -48px;
    transform: translateX(-50%);
    border: 1px solid #5C5A73;
    border-radius: 16px;
}

.stopGeneratingIcon {
    width: 14px;
    height: 14px;
    color: #89859F;
}

.stopGeneratingText {
    display: flex;
    align-items: center;
    color: #89859F;
    font-size: 14px;
}

.citationPanelWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    padding-block: 8px;
    max-width: 30%;
    background: #1A191F;
    border: 1px solid #C792FF;
}

.citationPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px 16px;
    gap: 8px;
    flex: auto;
    align-self: stretch;
    flex-grow: 0.3;
    overflow-y: scroll;
    max-height: 80vh;
}

.citationPanelHeaderContainer {
    width: 100%;
}

.citationPanelHeader {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: White;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.citationPanelDismiss {
    width: 18px;
    height: 18px;
    color: #5C5A73;
    cursor: pointer;
}

.citationPanelDismiss:hover {
    background-color: #D1D1D1;
}

.citationPanelTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #D1D1D1;
    margin-block: 12px;
} 

.citationPanelContent {
    color: #D1D1D1;
    flex-grow: 0;
} 

a {
    padding-left: 5px;
    padding-right: 5px;
}