.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    color: #F2F2F2;
    justify-content: center;
}

.chatRoot {
    flex: 1;
    display: flex;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-inline: 20px;
    gap: 20px;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow-y: auto;
    max-height: calc(100vh - 110px);
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.chatEmptyStateTitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    line-height: 24px;
    margin-block: 18px;
}

.chatEmptyStateSubtitle {
    margin-top: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 38px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
    width: 700px;
}

.logoContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
}

.logoText {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    color: white;
    user-select: none;
}

.logoTextHighlight {
    color: #B955E3;
}

.chatMessageStream {
    flex-grow: 1;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 48px;
    padding-right: 48px;
    display: flex;
    flex-direction: column;
    margin-top: 24px;
}

.chatMessageUser {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.chatMessageUserMessage {
    padding: 10px;
    background: #1A191F;
    border-radius: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #C792FF;
    white-space: pre-wrap;
    word-wrap: break-word;
    max-width: 800px;
}

.chatMessageSystem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-left: 20px;
    gap: 5.5px;
    background: #1A191F;
    border-radius: 8px;
}

.chatMessageSystemMitigation {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 10px;
    padding-left: 20px;
    background: #1A191F;
    border: 1px solid #C792FF;
    border-radius: 8px;
}

.codeBlock > div > button {
    right: 2.75em;
}

.codeBlock > div > span {
    max-height: 48vh;
    overflow: auto;
}

.tabContainer {
    display: none;
    padding-top: 10px;
}

.tabContainerActive {
    display: block;
    padding-top: 10px;
}

.tabLayout {
    position: relative;
}

.tabLayoutDismiss {
    position: absolute;
    top: 4px;
    right: 8px;
    width: 18px;
    height: 18px;
    color: #5C5A73;
    cursor: pointer;
}

.tabTitle {
    font-size: 25px;
}

.tabListItem {
    padding-inline-start: 20px;
}

.tabSelectorContainer {
    border-bottom: 1px solid #C792FF;
}

.tabSelector {
    color: #5C5A73;
    border: 1px solid #5C5A73;
    border-bottom-width: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: #1A191F;
    padding: 10px;
}

.tabSelectorActive {
    color: #C792FF;
    border: 1px solid #C792FF;
    border-bottom-width: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    outline: 1px solid #1A191F;
    background: #1A191F;
    padding: 10px;
}

.chatMessageSystemHeader {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.chatMessageSystemMitigation > * {
    font-size: 14px;
    line-height: 28px;
    white-space: normal;
    word-wrap: break-word;
    margin-block: 4px;
}

.chatMessageSystemMitigation > h1 {
    color: #B692F6;
}

.chatMessageSystemMitigation > ol {
    color: #706E86;
    padding-inline-start: 24px;
}

.chatMessageSystemFooter {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    justify-content: flex-end;
    padding-right: 6px;
}

.chatMessageSystemButton {
    background: #1A191F;
    border: 1px solid #C792FF;
    color: #C792FF;
    border-radius: 16px;
    padding: 8px 14px;
    cursor: pointer;
}

.chatMessageSystemButton:hover,
.chatMessageSystemButton:focus,
.chatMessageSystemButton:focus-within {
    border-color: #482869;
    background-color: #482869;
    color: #C792FF;
}

.chatMessageGpt,
.chatMessageSystem {
    margin-bottom: 12px;
    max-width: 793px;
    display: flex;
}

.chatMessageSystemTable {
    border-spacing: 0px;
    color: black;
    margin-block: 20px;
}

.chatMessageSystemTableCell {
    margin: 0;
}

.chatMessageSystemTable td,
.chatMessageSystemTable th {
    padding: 5px 15px;
    text-align: left;
    font-size: 14px;
    color: #66637B;
}

.chatMessageSystemTableBody {
    position: relative;
}

.chatMessageSystemTableRow p {
    margin-block: 0;
}

.chatMessageSystemTableRow:first-child > td > * {
    margin-top: 4px;
}


.chatMessageSystemTableRow img {
    display: block;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.chatMessageSystemTableRow > td:last-child > p {
    border: 1px solid #4398F7;
    color: #4398F7;
    border-radius: 16px;
    padding: 5px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.chatMessageSystemTable th {
    border-bottom: 1px solid #66637B;
}

.chatMessageSystemTableTooltip {
    position: absolute;
    display: none;
    background: #141419;
    color: #66637B;
    border: 1px solid #26262c;
    transform: translate3d(5px, 5px, 0);
    box-shadow: 4px 3px 6px black;
}

.chatMessageSystemTableTooltip:last-child {
    transform: translate3d(5px, calc(-150% - 8px), 0);
}

.chatMessageSystemTableRow:hover+.chatMessageSystemTableTooltip:has( :not(:empty)) {
    display: block;
}

.chatMessageError {
    padding: 20px;
    border-radius: 8px;
    box-shadow: #b63443 1px 1px 2px, #b63443 0px 0px 1px;
    background: #1A191F;
    color: #242424;
    flex: none;
    order: 0;
    flex-grow: 0;
    max-width: 800px;
}

.chatMessageErrorContent {
    font-size: 14px;
    line-height: 22px;
    white-space: pre-wrap;
    word-wrap: break-word;
    gap: 12px;
    align-items: center;
}

.errorIcon {
    color: #b63443
}

.chatInput {
    position: sticky;
    padding-top: 12px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - 100px);
    max-width: 1028px;
    margin-top: 8px;
}

.suggestionHeaderContainer {
    width: calc(100% - 100px);
    margin: 16px 24px 4px;
    max-width: 978px;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    border-bottom: 1px solid #3C3C47;
    height: 40px;
    align-items: flex-start;
}

.suggestionHeaderTitle {
    margin: 0;
    font-size: 14px;
    user-select: none;
}

.suggestionHeaderTitleEmphasis {
    color: #C792FF;
}

.suggestionHeaderSearchIcon {
    position: absolute;
    right: 7px;
}

.sampleQuestionGrid {
    display: grid;
    grid-template-columns: 437px 437px;
    grid-auto-rows: 1fr;
    gap: 16px;
    width: calc(100% - 100px);
    max-width: 890px;
    margin-inline: 24px;
    margin-top: 16px;
    user-select: none;
}

.sampleQuestionItem {
    display: flex;
    align-items: center;
    background-color: #1A191F;
    border-radius: 16px;
    border: 1px solid #5C5A73;
    padding: 12px 21px;
    cursor: pointer;
}

.sampleQuestionItem:hover,
.sampleQuestionItem:focus,
.sampleQuestionItem:focus-within {
    border-color: #C792FF;
}

.sampleQuestionText {
    margin: 0;
    font-size: 13px;
}

.stopGeneratingContainer {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
    gap: 8px;
    height: 32px;
    left: 50%;
    top: -48px;
    transform: translateX(-50%);
    border: 1px solid #5C5A73;
    border-radius: 16px;
}

.stopGeneratingIcon {
    width: 14px;
    height: 14px;
    color: #89859F;
}

.stopGeneratingText {
    display: flex;
    align-items: center;
    color: #89859F;
    font-size: 14px;
}

.citationPanelWrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 8px;
    padding-block: 8px;
    max-width: 40%;
    background: #1A191F;
    border: 1px solid #C792FF;
}

.citationPanel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 16px 12px;
    gap: 8px;
    flex: auto;
    align-self: stretch;
    flex-grow: 0.3;
    overflow-y: scroll;
    max-height: 80vh;
}

.citationPanelTitleContainer {
    position: sticky;
    top: 0px;
    background: #1A191F;
    padding-block: 10px 15px;
    margin-bottom: -20px;
    border-bottom: 1px solid #3C3C47;
    box-shadow: 0px 10px #1A191F;
    align-self: stretch;
}

.citationPanelTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    color: White;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.citationPanelDismiss {
    width: 18px;
    height: 18px;
    color: #5C5A73;
    cursor: pointer;
}

.citationPanelDismiss:hover {
    background-color: #D1D1D1;
}

.citationPanelHeader {
    display: grid;
    grid-template-columns: min-content 1fr;
    padding-block: 12px;
    margin-top: 12px;
    gap: 15px;
    border-block: 1px solid #3C3C47;
}

.citationPanelHeaderTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #D1D1D1;
}

.citationPanelHeaderContent {
    overflow-wrap: anywhere;
    text-wrap: balance;
}

.citationPanelContent {
    color: #D1D1D1;
    flex-grow: 0;
    overflow-wrap: anywhere;
    white-space: break-spaces;
} 

a {
    padding-left: 5px;
    padding-right: 5px;
}

[data-severity="high"] {
    color: #FF958F!important;
}

[data-severity="medium"] {
    color: #FFCB7C!important;
}

[data-severity="low"] {
    color: #8AC898!important;
}