.questionInputContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    background: #1A191F;
    border: 1px solid #C792FF;
    border-radius: 16px;

}

.questionInputTextArea {
    color: #89859F;
    background-color: #1A191F;
    border: none;
    border-bottom: 1px solid #1A191F;
    width: 100%;
    line-height: 32px;
    margin: 10px 12px;
    padding: 0 8px;
    font-size: 14px;
}

.questionInputTextArea::placeholder,
.questionInputTextArea::-webkit-input-placeholder,
.questionInputTextArea::-moz-placeholder {
    color: #89859F;
}

.questionInputTextArea:focus-within {
    outline: none;
    border-color: #5C5A73;
}

.questionInputSendButtonContainer {
    right: 24px;
    bottom: 20px;
    padding: 8px;
    margin-inline: 12px;
    cursor: pointer;
}

.questionInputSendButtonContainer:focus {
    outline: 1px solid #89859F;
}

.questionInputSendButton {
    width: 24px;
    height: 24px;
    margin-top: 5px;
    background: none;
}

.questionInputOptionsButton {
    cursor: pointer;
    width: 27px;
    height: 30px;
}
