.layout {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    background-color: #201F27;
}

.sidebarLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-right: 1px solid #706E86;
    padding: 0 24px;
}

.sidebarHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    text-decoration: none;
    height: 56px;
    flex-wrap: wrap;
    margin-block: 1rem;
}

.sidebarLogoContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
}

.sidebarLogoText {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    color: white;
}

.sidebarLogoTextHighlight {
    color: #B955E3;
}

.companyDropdownContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-inline: 12px;
    color: #C792FF;
    background-color: #19171B;
    border-radius: 8px;
}

.companyDropdownText {
    font-weight: 500;
}

.menuList {
    padding: 0;
    color: #706E86;
}

.menuListItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.menuListItemActive {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #C792FF;
}

.menuListItemEmphasis {
    background-color: #706E86;
    color: white;
    border-radius: 4px;
    padding: 2px 12px;
    margin-right: 4px;
}

.menuListItemText {
    margin-block: 10px;
}

.menuListItemImage {
    border-radius: 50%;
    filter: grayscale();
    width: 32px;
    height: 32px;
}

.menuListItemIcon {
    width: 32px;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headerTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px;
    text-decoration: none;
    height: 56px;
    flex-wrap: wrap;
    margin-block: 1rem;
}

.headerTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #C792FF;
    margin: 0;
}

.headerSubtitle {
    color: #5C5A73;
    margin: 0;
}

.headerIconContainer {
    padding: 6px 8px;
    background-color: #141419;
    border-radius: 8px;
    margin-right: 20px;
}

.headerIcon {
    height: 32px;
    width: 32px;
    /* margin-left: 36px; */
}

.shareButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    height: 32px;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.shareButton {
    color: #FFFFFF;
}

.shareButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.urlTextBox {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #707070;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

.copyButtonContainer {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
}

.copyButtonContainer:hover {
    cursor: pointer;
    background: #D1D1D1;
}

.copyButton {
    color: #424242;
}

.copyButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #242424;
}