.layout {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    background-color: #201F27;
}

.sidebarLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-right: 1px solid #706E86;
    padding: 0 24px;
}

.sidebarHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    text-decoration: none;
    height: 56px;
    flex-wrap: wrap;
    margin-block: 1rem;
}

.sidebarLogoContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    text-decoration: none;
}

.sidebarLogoText {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    color: white;
}

.sidebarLogoTextHighlight {
    color: #B955E3;
}

.sidebarToggle {
    cursor: pointer;
}

.companyDropdownContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-inline: 12px;
    margin-inline: -12px;
    color: #C792FF;
    background-color: #19171B;
    border-radius: 8px;
    cursor: pointer;
}

[data-sidebar="false"] .companyDropdownContainer {
    margin-right: 0;
    padding-block: 15.1px;
}

.companyDropdownIcon {
    display: inline-flex;
    place-content: center;
    width: 32px;
}

.companyDropdownText {
    font-weight: 500;
}

.companyDropdownChevron {
    position: absolute;
    right: 12px;
}

[data-sidebar="false"] .companyDropdownText,
[data-sidebar="false"] .companyDropdownChevron {
    display: none;
}

.menuList {
    padding: 0;
    color: #706E86;
}

.menuListItem {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.menuListItemActive {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: #C792FF;
}

[data-sidebar="false"] .menuListItem,
[data-sidebar="false"] .menuListItemActive {
    padding-block: 7.1px;
}

.menuListItemEmphasis {
    background-color: #706E86;
    color: white;
    border-radius: 4px;
    padding: 2px 12px;
    margin-right: 4px;
}

.menuListItemText {
    margin-block: 10px;
}

[data-sidebar="false"] .menuListItemText {
    display: none;
}

[data-sidebar="false"] .menuListItemImage {
    cursor: pointer;
}

.menuListItemIcon {
    display: inline-flex;
    place-content: center;
    width: 32px;
    height: 25px;
}

.menuListItemChevron {
    position: absolute;
    right: 0px;
    cursor: pointer;
}

[data-sidebar="false"] .menuListItemChevron {
    display: none;
}

.mainLayout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headerTitleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 14px;
    text-decoration: none;
    height: 56px;
    flex-wrap: wrap;
    margin-block: 1rem;
}

.headerTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #C792FF;
    margin: 0;
    user-select: none;
}

.headerSubtitle {
    color: #5C5A73;
    margin: 0;
    user-select: none;
}

.headerIconContainer {
    padding: 6px 8px;
    background-color: #141419;
    border-radius: 8px;
    margin-right: 20px;
}

.headerIcon {
    height: 32px;
    width: 32px;
    /* margin-left: 36px; */
}

.headerDataContainer {
    display: flex;
    align-items: center;
    gap: 14px;
}

.headerDataBlock {
    display: flex;
    flex-direction: column;
}

.headerDataTitle {
    font-size: 11px;
    line-height: 12px;
    color: #5C5A73;
}

.headerDataContent {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    margin-block: 0;
    color: #9997AF;
}

.riskScoreContainer {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: 30px;
}

.riskScoreTitle {
    font-size: 20px;
    font-weight: 500;
    margin-block: 0;
    color: #5C5A73;
}

.riskScoreContent {
    font-size: 27px;
    margin-block: 0;
    color: white;
}

.chatButtonContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    height: 32px;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer;
}

.chatButton {
    color: #FFFFFF;
}

.chatButtonBadge {
    position: absolute;
    top: -5px;
    right: 9px;
}