.dataBlock {
    padding: 24px;
    border-radius: 16px;
    background-color: #201F27;
}

.userBlockContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.userBlock {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-template-rows: min-content 1fr;
    column-gap: 20px;
    row-gap: 4px;
    align-items: end;
}

.userBlockImage  {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    grid-row: 1/-1;
}

.userBlock {
    font-size: 12px;
}

.userBlock > p,
.userSeverity {
    grid-row: 2/3;
    align-self: center;
    margin-block: 0;
    font-size: 16px;
    font-weight: 500;
}

.highlightText {
    color: white;
}

.userSeverity {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-inline: 2px;
}

[data-severity="High"] {
    border-color: #FF958F !important;
    color: #FF958F !important;
}

[data-severity="Medium"] {
    border-color: #FFCB7C !important;
    color: #FFCB7C !important;
}

[data-severity="Low"] {
    border-color: #8AC898 !important;
    color: #8AC898 !important;
}